.AboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 40px;
    flex-wrap: wrap;
    color: #004d66;
    margin: 40px 5%;
    margin-bottom: 120px;
}
.AboutMe-Sections{
    display: flex;
    max-width: 1000px;
    overflow: hidden;
    align-items:center;
    gap: 100px;
}
.AboutMe-Sections p{
    margin-top: 12%;
    font-size: 1.5rem;
    text-align: center; 
}
.AboutMe-Sections img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}